@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
.animate-gradient {
  background-size: 300%;
  -webkit-animation: animatedgradient 4s ease infinite alternate;
  -moz-animation: animatedgradient 4s ease infinite alternate;
  animation: animatedgradient 4s ease infinite alternate;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
body{
  background-color: rgb(209 250 229);
}
/* .cards{
  border-image: linear-gradient(#f18137,#af24dd) 1;
  animation: anim-border 2.5s ease-in infinite;
}
@keyframes anim-border {
  50%{
    border-image: linear-gradient(360deg,#f18137,#af24dd) 1;
  }
} */